.carousel img {
      min-width: 100%;
      margin:0 auto;
}

.carousel .item {
    width:100%;
    height:auto;
    max-height: 500px;
}

.carousel-inner > .item > img {
      min-width:100%;
      height:auto;
}

.blur {
    -webkit-filter: blur(0.5px);
    filter: blur(0.5px);
}

.carousel-caption {
      margin-bottom: 5vh;
}

.carousel-caption p {
      font-size:  1.4em;
      font-family: "Mark"; 
}

.carousel-caption h1 {
      font-family: "Mark"; 
      font-weight: 700;
}
